/*body { color: red; }*/

body {
	background: linear-gradient(to left, blue, lightblue);
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: darkblue;
}

p {
    color: red;
    font-size: 20px;
}
